<!--barra superior-->
<div class="hidden md:block bg-black h-14">
  <img class="ml-16 py-5" src="./assets/LogoPulzo.png" width="91.94px" height="27.3px" />
</div>
<!--fin barra superior-->
<div>
  <!--Logo version grande-->
  <img class="w-full h-auto hidden sm:hidden md:block" src="./assets/FONDO.jpg" />
  <img class="hidden sm:hidden md:hidden lg:block lg:-mt-52 lg:ml-48 lg:mb-16 xl:-mt-52 xl:ml-48 xl:mb-16"
    src="./assets/LogoPulzo.png" />
  <!--Logo version mediano-->
  <img class="hidden sm:block sm:-mt-44 sm:mx-40 md:block md:-mt-60 md:mx-48 md:mb-14 lg:hidden xl:hidden"
    src="./assets/LogoPulzo.png" style="width: 350px" />
  <!--Logo version pequeño y mini-->
  <img class="block w-auto sm:block md:hidden lg:hidden" src="./assets/FondoLoginMobile.png" />
  <img class="block -my-48 mx-20 sm:block md:hidden lg:hidden xl:hidden" src="./assets/LogoPulzo.png"
    style="width: 174px; height: 51" />
</div>

<!--Inicio texto-->
<div class="md:w-3/5 hidden sm:hidden lg:block lg:h-60">
  <div class="pl-56 pr-5">
    <p class="text-justify font-sans font-semibold uppercase text-sm">

    </p>
    <br />
    <p class="text-justify font-sans text-base text-dark-light">

    </p>
  </div>
</div>
<!--Fin texto-->

<!--Inicio login-->
<div class="md:w-2/5 absolute top-60 sm:mt-2 md:-mt-4 lg:inset-y-64 lg:right-0 lg:pl-10 2xl:top-96">
  <div class="relative h-auto sm:w-full lg:w-96">
    <div class="bg-white lg:shadow-md pt-12 pb-11 -mt-4 rounded-t-3xl lg:rounded-lg lg:mt-4">
      <p class="text-center font-sans font-normal text-lg md:text-4xl lg:text-2xl">{{ 'login.form.title' | transloco }}
      </p>
      <br />
      <p class="text-[#888787] text-center -mt-3.5 font-sans text-sm md:text-2xl lg:text-xs">
        {{ 'login.form.description' | transloco }}
      </p>

      <form novalidate [formGroup]="loginForm" class="px-10 lg:px-14 lg:py-2 mt-4" (ngSubmit)="submitForm()">
        <app-input-email type="text" class="text-[#888787]" placeholder="Correo electrónico" label="models.user.email"
          formControlName="email"></app-input-email>

        <div *ngIf="serverError==200 || serverError==300" class="hidden sm:hidden md:hidden lg:block xl:block">
          <i class="fas fa-times-circle fa-xs text-red"></i>
          <span class="text-xs text-red ml-1"> {{ serverMessageError }}</span>
        </div>

        <div *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.dirty"
          class="hidden  md:hidden lg:block xl:block">
          <i class="fas fa-exclamation-triangle fa-xs text-red"></i>
          <span class="text-xs text-red ml-2">{{ 'login.form.error.email' | transloco }}</span><br />
        </div>

        <app-input-password type="password" class="border-[#888787] text-[#888787]" label="models.user.password"
          placeholder="Contraseña" formControlName="password">
        </app-input-password>

        <div *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.dirty"
          class="hidden sm:hidden md:hidden lg:block xl:block -mt-4">
          <i class="fas fa-times-circle fa-xs text-red"></i>
          <span class="text-xs text-red  ml-0"> {{ 'login.form.error.empty_password' | transloco }}</span>
        </div>

        <div *ngIf="serverError==100" class="hidden sm:hidden md:hidden lg:block xl:block -mt-4">
          <i class="fas fa-times-circle fa-xs text-red"></i>
          <span class="text-xs text-red ml-0"> {{ 'login.form.error.password' | transloco }}</span>
        </div>

        <div class="flex justify-between items-baseline mt-8">
          <button-login type="green"
            [disabled]="!loginForm.valid || !loginForm.get('password')?.value || !loginForm.get('email')?.value  || isSubmitting">
            {{ 'login.login' | transloco }}
          </button-login>
        </div>
      </form>
    </div>
  </div>
</div>

<footer class="bg-white rounded-lg md:flex md:items-center md:justify-between md:p-6">
  <img class="pr-4 mx-auto" src="./assets/LogoFooter.png" />
</footer>

<div *ngIf="isSubmitting" class="black-background"></div>