:host {
    display: contents;
 }
 
 :host.ng-invalid.ng-dirty input {
    border-color: #FF3B3B;
 }
 
 .input-text {
    --tw-ring-color: #038652;
 }
 
 :host.ng-invalid.ng-dirty input.is-focused {
    border-color: transparent;
    --tw-ring-color: #FF3B3B;
 }
 
 .icon-eye__color::before {
    color: #038652;
 }
 