:host {
    display: contents;
 }
 
 :host.ng-invalid.ng-dirty input {
    border-color: #FF3B3B;
 }
 
 :host.ng-invalid.ng-dirty input.is-focused {
    border-color: transparent;
    --tw-ring-color: #FF3B3B;
 }
 
